h1 {
    background: rgb(255, 218, 185);
    padding: 2em;
    text-align: center;
    color: rgb(95, 164, 179);
}

a {
    text-decoration: none;
    color: rgb(44, 196, 138);
}

p {
    color: rgb(95, 164, 179);
}

ul, li {
    list-style: none;
}

body {
    background: rgb(0, 0, 0);
    color: rgb(255, 218, 185);
}

h2 {
    color: rgb(95, 164, 179);
}

footer{
    background: rgb(255, 218, 185);
}